.row {
  display: flex;
  flex-direction: row;
  gap: var(--gap, 0.5rem);
  align-items: var(--align, stretch);
  justify-content: var(--justify, flex-start);
  &>* {
    flex: 1 1 min-content;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 0.5rem);
  align-items: var(--align, stretch);
  justify-content: var(--justify, flex-start);
  &>* {
    flex: 1 1 min-content;
  }
}
