.error {
  padding: 1em;
  background: rgb(87, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  color: white;
}

.widgetDevCells {
  outline: 1px dashed rgba(255, 0, 255, 0.5);
}

.widgetDevUnusedSpace {
  background: rgba(255, 0, 0, 0.1);
}

.widgetDevUsedSpace {
  border: 1px dashed rgba(0, 255, 0, 0.5);
}

.widgetDevMissingBackground {
  background: rgba(255, 0, 255, 0.6);
  z-index: -1;
}

.widget {
  isolation: isolate;
}