* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    /* height: 100vh;
    width: 100vw; */
}

main {
    overflow: hidden;
    
    height: min-content;
    width: max-content;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    padding: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: #fff;

}

.text{
    color: #fff;
    width: 100%;

    font-family: "Roboto", sans-serif;

    text-align: center;
    font-weight: bold;

    user-select: none;
}

.time {
    font-size: 3em;
}

.date {
    font-size: 1.5em;
}

.song-box {
    width: 100%;
    height: 100%;

    display: grid;
    margin-top: 1em;
    grid-template: 
    "song song song" 1fr 
    "back play next" 1fr
    / 1fr 1fr 1fr;

    .song-name {
        column-span: all;
        grid-area: song;
    }
    .back {
        grid-area: back;
        text-align: center;
    };
    .play {
        grid-area: play;
        text-align: center;
    };
    .next {
        grid-area: next;
        text-align: center;
    };
}

.song-button {
    color: #f00;
}

.song-name {
    font-size: 0.8em;
    grid-area: "song";
}

